
.Wrapper {
  display: flex;
  font-size: 16px;
}



.Descriptions {
  margin-left: 10px;
  width: 350px;
}



.Title {
  margin-left: 10px;
  width: 350px
}
.Label {
  font-weight: 700;
  font-size: 20px;
  margin-right: 5px;
;
}
.Label .additional {
  border-bottom: 1px solid rgb(209, 208, 208);
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
}

/* 
export const Descriptions = styled.div`
  margin-left: 10px;
  width: 350px;
`;

export const Title = styled.h3`
  font-size: 30px;
  text-align: center;
`;
export const Label = styled.span`
  font-weight: 700;
  font-size: 20px;
  margin-right: 5px;
  &.additional {
    border-bottom: 1px solid rgb(209, 208, 208);
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
  }
`;  */